/*
 * style.css
 */



/* ----- メインの色設定 ----- */

/* メイン色 */
.bg-main {
    background-color: lightseagreen !important;
}

/* メインテキスト色 */
.text-main {
    color: lightseagreen !important;
}

/* メインテキスト色 ( 暗め ) */
.text-main-dark {
    color: darkslategray !important;
}



/* ----- ナビゲーションバー ----- */

/* ナビゲーションバーのリンク ( ホバー時 ) */
a.nav-link:hover {
    color: paleturquoise !important;
}

/* 検索用フォーム */
#search {
    position: relative;
}

#search input {
    text-indent: 24px;
}

#search > #search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
}



/* ----- ドロップダウンメニュー ----- */

/* ドロップダウンメニューの項目 ( 通常時 ) */
.dropdown-item {
    background-color: lightseagreen !important;
    -webkit-transition: background-color 0.3s ease !important;
}

/* ドロップダウンメニューの項目 ( ホバー時 ) */
.dropdown-item:hover {
    color: paleturquoise !important;
    background-color: darkcyan !important;
}

/* ドロップダウンメニューの項目の分割部分 */
.dropdown-divider {
    margin: 0.0rem 0.0rem;
    border-top: 1px solid darkcyan;
}

/* ドロップダウンメニュー全体の角 */
.dropdown-menu {
    padding: 0.0rem 0.0rem;
    border-radius: 0.0rem;
}

/* ドロップダウンメニューの三角形の部分 */
.dropdown-toggle::after {
    color: white;
}

/* ハンバーガーアイコンの色を白に変える */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ハンバーガーアイコンの外枠部分 */
.navbar-toggler {
    border-color: rgb(255, 255, 255) !important;
}